{% extends './layout.njk' %}

{% from 'src/component/header.njk' import datahubHeader %}

{% block body %}
	{{ datahubHeader( user.permitted_applications, {
		user: {
			name: user.name
		},
		active: 'find-exporters',
		subNavigation: createSubnav( { exporters: true } )
	} ) }}
{% endblock %}

