{% extends './layout.njk' %}

{% from 'src/component/header.njk' import datahubHeader %}

{% block body %}
	{{ datahubHeader( user.permitted_applications, {
		active: 'datahub-contacts',
		subNavigation: createSubnav( { user: true } )
	} ) }}
{% endblock %}
