{% extends './layout.njk' %}

{% from 'src/component/header.njk' import datahubHeader %}

{% block body %}
	{{ datahubHeader( user.permitted_applications, {
		user: {
			name: user.name
		},
		domains: {
			datahub: '/'
		},
		active: 'datahub-profile',
		subNavigation: createSubnav( { all: true } )
	} ) }}
{% endblock %}

